<div class="c-header">
  <div class="c-header--logo">
    <app-logo-shopeame></app-logo-shopeame>
  </div>
  <div class="c-header--menu">
    <div class="c-header--menu__set">
      <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><i class="fa fa-home" aria-hidden="true"></i><p>Home</p></a>
      <a routerLink="products" routerLinkActive="active"><i class="fa fa-shopping-basket" aria-hidden="true"></i><p>Productos</p></a>
      <a routerLink="gestion" routerLinkActive="active" ><i class="fa fa-bullseye" aria-hidden="true"></i><p>Gestión</p></a>
    </div>
  </div>
</div>
