

.c-footer--links {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;

}

h4 {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 700;
  opacity: 95%;
  color: #eee;
  margin-bottom: 2vh;
}

i::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  opacity: 95%;
  color: #eee;
}
i:hover {
  color: #909090;
}
.c-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;

  h4, span {
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
  }
}
